/*
####################################################
SITES
####################################################	
*/

@use '../../variables';

.sites {
    width: 100%;
    min-height: 600px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    overflow: hidden;
    z-index: 999;
    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 5px;
        background-color: variables.$patternColor1;
        z-index: 100;
    }
    h2 {
        font-size: 5em;
        line-height: .95em;
        font-weight: 500;
        letter-spacing: -0.02em;
        color: variables.$patternColor1;
        position: relative;
        z-index: 1000;
        max-width: 800px;
        &::after {
            content: '';
            position: absolute;
            width: 100%;
            max-width: 800px;
            height: 70px;
            margin: 0 0 0 -50%;
            bottom: -40px;
            left: 50%;
            background: url('/underline.png') center no-repeat;
            background-size: 100%;
        }
    }
    .box {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        overflow: hidden;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: variables.$twenty;
            opacity: .4;
            z-index: 1;
        }
    }
    .bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        picture {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            margin: 0;
            overflow: hidden;
            // opacity: .7;
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 750px;
                height: 950px;
                margin: 0;
            }
        }
    }
    .position {
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 400px;
        height: 100%;
        font-family: var(--font-bungeeinline);
        letter-spacing: -.9em;
        display: flex;
        align-items: center;
        align-self: center;
        justify-content: center;
        z-index: 100;
        span {
            display: block;
            font-size: 22em;
            transform: rotate(-90deg);
            display: none;
        }
    }
    .print {
        position: absolute;
        top: 0;
        width: 100%;
        max-width: 450px;
        height: 100%;
        z-index: 1;
        display: none;
        picture {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: start;
            align-self: center;
            justify-content: center;
            img {
                position: relative;
                max-width: 320px;
            }
        }
    }
    .left {
        .position {
            left: 0;
        }
        .print {
            right: 0;
        }
    }
    .right {
        .position {
            right: 0;
        }
        .print {
            left: 0;
        }
    }
    &.reserva {
        color: variables.$fourth;
    }
    &.parceleaqui {
        color: variables.$fifty;
    }
    &.msadecoracao {
        color: variables.$nineteen;
    }
    &.wavoleibol {
        color: variables.$sixty;
    }
    &.cardapio {
        color: variables.$seventy;
    }
    &.primora {
        color: variables.$eighth;
    }
    &.fgv {
        color: variables.$white;
    }
    &.blindex {
        color: variables.$ninth;
    }
    button {
        z-index: 100000;
    }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .sites {
        h2 {
            font-size: 9em;
        }
        .bg {
            picture {
                img {
                    width: 1920px;
                    height: 1080px;
                    left: 50%;
                    margin: 0 0 0 -960px;
                }
            }
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .sites {
        height: 100dvh;
        .position {
            max-width: 550px;
            span {
                display: block;
                font-size: 35em;
            }
        }
        .print {
            display: block;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}