/*
####################################################
HEADER
####################################################	
*/

@use '../variables';

.header {
    width: 100%;
    min-height: 600px;
    position: relative;
    text-align: center;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    overflow: hidden;
    z-index: 999;
    &::after {
		content: '';
		width: 1px;
		height: 130px;
		background-color: variables.$fifteen;
		position: absolute;
		top: 0;
		right: 50%;
		margin: 0 0 0 -1px;
		z-index: 50;
	}
    h1 {
        font-size: 7em;
        line-height: .85em;
        font-weight: 500;
        letter-spacing: -0.01em;
        position: relative;
        z-index: 100;
        margin-top: 0.15em;
        color: variables.$fifteen;
        &::after, 
        &::before {
            content: attr(data-text);
            position: absolute;
            top: 10px;
            left: 10px;
            text-shadow: none;
            background-image: url(https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fmedia.giphy.com%2Fmedia%2F3DPAzwJxrwCre%2Fgiphy.gif&f=1&nofb=1&ipt=dc4dd2260b9ccecc06fc391c3c781a47f6dd210b6e9d1d80c61beb36b618cdc9&ipo=images);
            background-clip: text;
            color: transparent;
            mix-blend-mode: lighten;
            pointer-events: none;
          }
          &::before {
            left: -4px;
            mix-blend-mode: lighten;
          }
        span {
            position: relative;
            display: block;
            font-size: inherit;
            line-height: .85em;
            font-weight: inherit;
            letter-spacing: -0.01em;
            color: variables.$fifteen;
            &::before,
            &::after {
                color: variables.$fifteen;
                background-color: transparent;
            }
        }
    }
    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100dvh;
        z-index: 1;
        margin: 0;
        padding: 0;
    }
    picture {
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 50;
        img {
            position: absolute;
            width: 1920px;
            height: 1600px;
            top: 50%;
            left: 50%;
            margin: -800px 0 0 -960px;
        }
    }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .header {
        height: 100dvh;
        h1 {
            font-size: 12em;
            line-height: .9em;
        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .header {
        h1 {
            font-size: 18em;
        }
        .art {
            display: block;
        }
    }
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {}