/*
####################################################
VARIABLES
####################################################
*/

// default
$black: black;
$white: white;
$gray: gray;

// color pattern
$patternColor1: #f7e3c7;

// color palette
$primary: #fff0e3;
$secondary: #111111;
$third: #faff75;
$fourth: #ff0052;
$fifty: #219653;
$sixty: #ed1c94;
$seventy: #fba401;
$eighth: #00e4ff;
$ninth: #d40000;
$tenth: #e7fe89;
$eleventh: #fd0077;
$twelfth: #db7702;
$thirteenth: #f4fda8;
$fourteen: #dffca1;
$fifteen: #c4fd67;
$seventeen: #fff5eb;
$eighteen: #fb9f01;
$nineteen: #f3965b;
// $nineteen: #f36d19;