/*
####################################################
GLOBALS
####################################################	
*/

// tailwind
@use '../globals.css';

@use '~bootstrap/scss/bootstrap';
@use 'variables';
@use 'glitch.scss';

html {
	scroll-behavior: smooth;
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	font-synthesis: antialiased;
	text-rendering: optimizeLegibility;
	// font-family: "Poiret One", Arial, Helvetica, sans-serif;
	font-family: var(--font-poiretone);
	font-size: 1em;
	font-weight: 300;
	line-height: 1.7em;
	margin: 0 auto;
	position: relative;
	width: 100%;
	color: variables.$primary;
	background-color: variables.$seventeen;
	&::-webkit-scrollbar {
		width: 2px;
	}
	&::-webkit-scrollbar-track {
		box-shadow: inset 0 0 6px variables.$black;
	}
	&::-webkit-scrollbar-thumb {
		background-color: variables.$secondary;
		outline: 1px solid transparent;
	}
}
header, 
footer, 
section, 
.container {
	width: 100%;
	max-width: 1920px;
	margin: 0 auto;
	padding: 0;
	overflow-x: hidden;
}
h1, h2, h3, h4 {
	font-family: var(--font-bebasneue);
	-webkit-font-smoothing: antialiased;
	-webkit-font-smooth: always;
	margin: 0;
	padding: 0;
}
img, svg, video, canvas, audio, iframe, embed, object {
    display: inherit;
    vertical-align: inherit;
	max-width: inherit;
}
b, strong {
	font-weight: 700;
}
a {
	color: inherit;
	text-decoration: none;
}
ul, li {
	font-size: inherit;
	list-style: none;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.ratio-16x9,
.ratio-4x3 {
	min-width: 100%;
	min-height: 100dvh;
	position: absolute;
	top: 0;
	left: 0;
	video {
		min-width: 100%;
		min-height: 100dvh;
	}
}
.ratio > * {
	width: auto;
	height: 100dvh;
}
.seta_navegacao {
	position: absolute;
	left: 50%;
	margin: 0 0 0 -100px;
	width: 200px;
	height: 150px;
	z-index: 1000;
	display: none;
	&.top,
	&.page,
	&.error {
		top: 0;
		background: url('/bg-seta-top.png') 0 -30px no-repeat;
		background-size: 100% auto;
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 50%;
			margin: 0 0 0 -25px;
			width: 50px;
			height: 50px;
			background: url('/seta-cima.svg') center no-repeat;
			background-size: 100% auto;
		}
	}
	&.bottom {
		bottom: -1px;
		width: 280px;
		margin: 0 0 0 -140px;
		background: url('/bg-seta-bottom.png') 0 30px no-repeat;
		background-size: 90% auto;
		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 50%;
			margin: 0 0 0 -25px;
			width: 50px;
			height: 50px;
			background: url('/seta-baixo.svg') center no-repeat;
			background-size: 100% auto;
		}
	}
	&.error,
	&.page {
		display: block;
		&::after {
			margin: 0 0 0 -40px;
			width: 80px;
			height: 80px;
		}
	}
	button {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 100;
		appearance: none;
		background-color: none;
	}
}
#cases {
	.seta_navegacao {
		display: block;
	}
}
.socialmedia {
	position: absolute;
	width: 130px;
	height: 60px;
	// border: 1px dotted purple;
	display: flex;
	align-items: center;
	align-self: center;
	justify-content: space-between;
	z-index: 1000;
}
#header {
	.socialmedia {
		top: 10px;
		left: 50%;
		margin: 0 0 0 -65px;
	}
}
#footer {
	.socialmedia {
		bottom: 10px;
		left: 50%;
		margin: 0 0 0 -65px;
	}
}
.cursor {
	position: fixed;
	top: -50px;
	left: -50px;
	margin: 0;
	width: 100px;
	height: 100px;
	// background-color: variables.$fifteen;
	background-color: transparent;
	border-radius: 50%;
	cursor: none;
	pointer-events: none;
	mix-blend-mode: difference;
	display: flex;
	z-index: 10000;
}
.f-cursor {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: transparent;
	background-color: variables.$fifteen;
	position: fixed;
	z-index: 10000;
	left: -2px;
	top: 15px;
	display: none;
}
#scroll-indicator {
	z-index: 100000;
}
.transition {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 100%;
	cursor: pointer;
}

@media (max-width: 992px) and (orientation: landscape) {
	/* Styles for portrait orientation */
	#projects,
	#footer {
		.ratio > * {
			min-width: auto;
			min-height: auto;
			width: 100%;
			height: auto;
		}
	}
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (max-width: 576px) {}

// Medium devices (992px and down)
@media (max-width: 992px) {
	.ratio > * {
		width: auto;
		height: 100dvh;
	}
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	body {
		&::before,
		&::after {
			content: '';
			width: 130px;
			height: 1px;
			background-color: variables.$fifteen;
			position: fixed;
			top: 50%;
			margin: -1px 0 0 0;
			z-index: 1000;
		}
		&::before {
			content: none;
			left: 0;
		}
		&::after {
			right: 0;
		}
	}
	.seta_navegacao {
		&.error,
		&.page,
		&.top,
		&.bottom {
			&::after {
				margin: 0 0 0 -40px;
				width: 80px;
				height: 80px;
			}
		}
		&.error {
			display: block;
			left: 76px;
			top: 50%;
			width: 280px;
			margin: -50px 0 0 -140px;
			background: url('/bg-seta-bottom.png') 0 30px no-repeat;
			background-size: 90% auto;
			transform: rotate(90deg);
			&::after {
				content: '';
				position: absolute;
				top: inherit;
				bottom: 0;
				top: 71px;
				left: 50%;
				background: url('/seta-baixo.svg') center no-repeat;
				background-size: 100% auto;
			}
		}
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	body {
		// overflow: hidden;
	}
	.seta_navegacao {
		display: block;
	}
}

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	.cursor {
		background-color: variables.$fifteen;
	}
}

// XX-Large devices (larger desktops, 1600px and up)
@media (min-width: 1440px) {
	.ratio > * {
		min-width: inherit;
		min-height: inherit;
		width: auto; // 100%
		height: 100%;
	}
	#projects,
	#footer {
		.ratio > * {
			min-width: inherit;
			min-height: inherit;
			width: auto; // 100%
			height: 80%;
		}
	}
}